<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1">
    <title>HashPeople - Edit Profile</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css"
    rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of
    HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if
    you view the page via file:// -->
    <!--[if lt IE 9]>
    <script
      src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script
      src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- TODO where should this go? your profile? -->
        <a class="navbar-brand" href="#">HashPeople</a>
      </div>
      <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" role="search"> <div
            class="form-group"> <input type="text" class="form-control"
            placeholder="Search"> </div> <button type="submit" class="btn
            btn-default">Submit</button> </form>
        <ul class="nav navbar-nav">
          <!-- TODO make search work -->

          <li><a href="editProfile.html">Edit Profile</a></li>
          <!-- TODO make signing out work -->
          <li><a href="#">Sign out</a></li>
        </ul>
      </div>
    </nav>

    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel panel-default" style="width: 80%">
        <div class="panel-heading" id="name"><h4><%- viewName %></h4> Enter a
          new name: <input type="text" id="newName"></input></div>
        <a href="/<%- viewImage %>"><img
          src="/<%- viewImage %>"
          height="171" width="180" class="thumbnail" /></a>
        <input type="file" id="newImage" name="file" value="Upload Image"/>
        <div class="panel-body" id="description">
          <b>Description: </b> <%- viewDescription %>
          <br>
          Enter a new description below.
          <br>
          <textarea id="newDesc" rows="4" cols="50"></textarea>
          <button type="submit" class="btn btn-default" style="margin-left:
            90%" onclick="handleProfileChange()">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <!--
    jQuery
    (necessary
    for
    Bootstrap's
    JavaScript
    plugins)
    -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/weblib.js"></script>
    <!--
    Include
    all
    compiled
    plugins
    (below),
    or
    include
    individual
    files
    as
    needed
    -->
    <script
      src="js/bootstrap.min.js"></script>
      <script type="text/javascript">
      var handleProfileChange = function(evt) {
        var file = evt.target.file;
        if (file.type.match('image.*')) {
          var reader = new FileReader();
          reader.onload = (function() { 
            var imgArrayBuffer = reader.readAsArrayBuffer(file);   
            var imgBuffer = window.UInt8ArrayToBuffer(imgArrayBuffer);
            var profile = {};
            profile.name = $('#newName').val();
            profile.description = $('#newDesc').val();
            profile.imageBinary = imgBuffer;
            api.putProfile(profile);
            window.location = 'http://127.0.0.1:1337/' + window.getHashURL() +
            '/profile?publicKey=' + api.getPublicKey();
          });
        }
      }
    </script>
  </body>
</html>
