<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1">
    <title>HashPeople - Profile</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css"
    rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of
    HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if
    you view the page via file:// -->
    <!--[if lt IE 9]>
    <script
      src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script
      src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- TODO where should this go? your profile? -->
        <a class="navbar-brand" href="#">HashPeople</a>
      </div>
      <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" role="search"> <div
            class="form-group"> <input type="text" class="form-control"
            placeholder="Search"> </div> <button type="submit" class="btn
            btn-default">Submit</button> </form>
        
        <ul class="nav navbar-nav">
          <!-- TODO make search work -->
          <li><a href="editProfile">Edit Profile</a></li>
          <!-- TODO make signing out work -->
          <li><a href="#">Sign out</a></li>
        </ul>
      </div>
    </nav>

    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel panel-default" style="width: 80%">
        <div class="panel-heading" id="name"><h4><%- viewName %></h4></div>
        <% if (viewImage) { %>
        <a href="/<%- viewImage %>"><img
          src="/<%- viewImage %>"
          height="171" width="180" class="thumbnail" /></a>
        <% } else { %>
        This profile has no image.
        <% } %>
        <div class="panel-body" id="description">
          <b>Description: </b> <%- viewDescription %>
        </div>
      </div>
      <div class="panel panel-default" style="width: 80%">
        <textarea id="wallPost" rows="2" cols="50"></textarea>
        <button class="btn btn-default" onclick="window.handlePost()">Post</button>
        <br>
        Wall Posts:
        <table class="table table-hover">
        <tbody>
          <% for (var i = 0; i < wallPosts.length; i++) { %>
          <tr><td><%- wallPosts[i].name %></td><td><%- new
              Date(wallPosts[i].timestamp).toLocaleString('en')
              %></td><td><%-wallPosts[i].post %></td></tr>
          <% } %>
        </tbody>
        </table>
      </div>

        <!-- TODO how to get the name or profile of the friend to add? -->
        <script type="application/javascript">
          window.handlePost = function() {
            var post = {};
            post.post = $('#wallPost').val();
            post.publicKey = '<%- publicKey %>';
            post.timestamp = new Date().getTime();
            api.addWallPost.async(post, function(err) {
              if (err) {
                console.log('error', err);
              } else {
                window.top.location.reload();
              }
            });
          };

          window.publicKeyFromURL = function() {
            var url = window.top.location.href;
            var match = url.match(/profile\?publicKey=(.*)/);
            return match ? match[1] : null;
          };

          window.addFriend = function() {
            if (window.publicKeyFromURL() !== null) {
              api.addFriend.async(window.publicKeyFromURL(), function(err) {
                if (err) {
                } else {
                  window.top.location.reload();
                }
              });
            }
          };
        </script>
        <% if (!isFriend) { %>
        <button type="button" class="btn btn-default" onclick="window.addFriend();">Add Friend</button>
        <% } else { %>
        <button type="button" class="btn btn-default">Already Friends</button>
        <% } %>
      <div class="panel panel-default" style="width: 80%">
        <% for (var i = 0; i < viewFriends.length; i++) { %>
        <% if (i == 0) { %>
        <%- viewName %>'s friends:
        <ul>
        <% } %>
        <li onclick="window.top.openPath('/' + window.getHashURL() +
        '/profile?publicKey=<%-viewFriends[i].publicKey %>')"><a><%-
          viewFriends[i].name %></a></li>
        <% if (i == viewFriends.length - 1) { %>
        </ul>
        <% } %>
        <% } %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <!--
    jQuery
    (necessary
    for
    Bootstrap's
    JavaScript
    plugins)
    -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/weblib.js"></script>
    <!--
    Include
    all
    compiled
    plugins
    (below),
    or
    include
    individual
    files
    as
    needed
    -->
    <script
      src="js/bootstrap.min.js"></script>
  </body>
</html>
